main {
  .content {
      .name {
          border-bottom: 3px solid #eeba53;
      }
    .check-text {
      background-color: white;
      color: black;
    }
  }
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.back {
    text-align: center;
}

h4 {
  font-size: 22px;
}
